################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Playground/.vs
/Playground/Playground/obj/Release/net6.0
/Playground/Playground/obj/Debug/net6.0/Playground.AssemblyInfo.cs
/Playground/Playground/obj/Debug/net6.0/Playground.AssemblyInfoInputs.cache
/Playground/Playground/obj/Debug/net6.0/Playground.assets.cache
/Playground/Playground/obj/Debug/net6.0/Playground.GeneratedMSBuildEditorConfig.editorconfig
/Playground/Migrations.Tool/obj/Migrations.Tool.csproj.nuget.dgspec.json
/Playground/Migrations.Tool/obj/Migrations.Tool.csproj.nuget.g.props
/Playground/Migrations.Tool/obj/project.assets.json
/Playground/Migrations.Tool/obj/project.nuget.cache
/Playground/Migrations.Tool/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Playground/Migrations.Tool/obj/Release/net6.0/Migrations.Tool.AssemblyInfo.cs
/Playground/Migrations.Tool/obj/Release/net6.0/Migrations.Tool.AssemblyInfoInputs.cache
/Playground/Migrations.Tool/obj/Release/net6.0/Migrations.Tool.assets.cache
/Playground/Migrations.Tool/obj/Release/net6.0/Migrations.Tool.csproj.AssemblyReference.cache
/Playground/Migrations.Tool/obj/Release/net6.0/Migrations.Tool.GeneratedMSBuildEditorConfig.editorconfig
/Playground/Migrations.Tool/obj/Release/net6.0/Migrations.Tool.GlobalUsings.g.cs
/Playground/Migrations.Tool/obj/Debug/net6.0/apphost.exe
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.AssemblyInfo.cs
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.AssemblyInfoInputs.cache
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.assets.cache
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.csproj.AssemblyReference.cache
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.csproj.CoreCompileInputs.cache
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.csproj.FileListAbsolute.txt
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.dll
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.GeneratedMSBuildEditorConfig.editorconfig
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.genruntimeconfig.cache
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.pdb
/Playground/Migrations.Tool/obj/Debug/net6.0/Migrations.Tool.sourcelink.json
/Playground/Migrations.Tool/obj/Debug/net6.0/ref/Migrations.Tool.dll
/Playground/Migrations.Tool/obj/Debug/net6.0/refint/Migrations.Tool.dll
/Playground/Migrations.Tool/bin/Debug/net6.0/Migrations.DAL.dll
/Playground/Migrations.Tool/bin/Debug/net6.0/Migrations.DAL.pdb
/Playground/Migrations.Tool/bin/Debug/net6.0/Migrations.Tool.deps.json
/Playground/Migrations.Tool/bin/Debug/net6.0/Migrations.Tool.dll
/Playground/Migrations.Tool/bin/Debug/net6.0/Migrations.Tool.exe
/Playground/Migrations.Tool/bin/Debug/net6.0/Migrations.Tool.pdb
/Playground/Migrations.DAL/obj/Debug/net6.0/ref/Migrations.DAL.dll
/Playground/Migrations.DAL/obj/Debug/net6.0/refint/Migrations.DAL.dll
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.AssemblyInfo.cs
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.AssemblyInfoInputs.cache
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.assets.cache
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.csproj.CoreCompileInputs.cache
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.csproj.FileListAbsolute.txt
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.csproj.GenerateResource.cache
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.dll
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.GeneratedMSBuildEditorConfig.editorconfig
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.genruntimeconfig.cache
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.Migrations.Add_DBChangeTable.resources
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.Migrations.InterceptorTest1.resources
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.Migrations.NewColumnsForDBChange.resources
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.pdb
/Playground/Migrations.DAL/obj/Debug/net6.0/Migrations.DAL.sourcelink.json
